<a href="https://colab.research.google.com/github/keiko-404/challenge1-data-science-latam/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [40]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación
En este debes calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [41]:
# suma de la columna Precio para sacar el precio total de la tienda 1
ingreso_total_t1 = tienda["Precio"].sum()
print(f'El valor total de la tienda 1 es : ${ingreso_total_t1}')

El valor total de la tienda 1 es : $1150880400.0

In [42]:
ingreso_total_t2 = tienda2["Precio"].sum()
print(f'El valor total de la tienda 2 es : ${ingreso_total_t2}')

El valor total de la tienda 2 es : $1116343500.0

In [43]:
ingreso_total_t3 = tienda3["Precio"].sum()
print(f'El valor total de la tienda 3 es : ${ingreso_total_t3}')

El valor total de la tienda 3 es : $1098019600.0

In [44]:
ingreso_total_t4 = tienda4["Precio"].sum()
print(f'El valor total de la tienda 4 es : ${ingreso_total_t4}')

El valor total de la tienda 4 es : $1038375700.0

# 2. Ventas por categoría
En este debes calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [45]:
tienda['Categoría del Producto'].unique()

array(['Electrónicos', 'Muebles', 'Juguetes', 'Electrodomésticos',
       'Artículos para el hogar', 'Deportes y diversión', 'Libros',
       'Instrumentos musicales'], dtype=object)

In [46]:
#cantidad de productos vendidos por cateogria
cpv_tienda = tienda['Categoría del Producto'].value_counts()
cpv_tienda2 = tienda2['Categoría del Producto'].value_counts()
cpv_tienda3 = tienda3['Categoría del Producto'].value_counts()
cpv_tienda4 = tienda4['Categoría del Producto'].value_counts()
cpv_tienda

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [47]:
# se agrupan las filas y suma el precio para sacar el monto total vendido por categoria
# total vendio por categoria
tvc_tienda = tienda.groupby('Categoría del Producto')['Precio'].sum()
tvc_tienda2 = tienda2.groupby('Categoría del Producto')['Precio'].sum()
tvc_tienda3 = tienda3.groupby('Categoría del Producto')['Precio'].sum()
tvc_tienda4 = tienda4.groupby('Categoría del Producto')['Precio'].sum()
tvc_tienda

Categoría del Producto
Artículos para el hogar     12698400.0
Deportes y diversión        39290000.0
Electrodomésticos          363685200.0
Electrónicos               429493500.0
Instrumentos musicales      91299000.0
Juguetes                    17995700.0
Libros                       8784900.0
Muebles                    187633700.0
Name: Precio, dtype: float64

In [48]:
#categorias mas populares con sort
cmp_tienda = tienda.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
cmp_tienda2 = tienda2.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
cmp_tienda3 = tienda3.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
cmp_tienda4 = tienda4.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
cmp_tienda

                              Precio
Categoría del Producto
Electrónicos             429493500.0
Electrodomésticos        363685200.0
Muebles                  187633700.0
Instrumentos musicales    91299000.0
Deportes y diversión      39290000.0
Juguetes                  17995700.0
Artículos para el hogar   12698400.0
Libros                     8784900.0

# 3. Calificación promedio de la tienda
En este paso, debes calcular las calificaciones promedio de los clientes para cada tienda. El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [49]:
prom_tienda = tienda['Calificación'].mean()
prom_tienda2 = tienda2['Calificación'].mean()
prom_tienda3 = tienda3['Calificación'].mean()
prom_tienda4 = tienda4['Calificación'].mean()
prom_tienda

np.float64(3.976685036032217)

# 4. Productos más y menos vendidos
En este paso, debes identificar qué productos fueron los más vendidos y los menos vendidos en cada tienda. Visualiza los resultados para que quede claro qué productos destacaron en ventas en cada tienda.

In [50]:
#TIENDA 1
def top_mas_ingresos(df, tienda):
    # agrupar por producto: cantidad, precio unitario, ingreso total
    resumen = df.groupby('Producto').agg(
        cantidad_vendida=('Producto', 'count'),
        ingreso_total=('Precio', 'sum')
    )

    # top 3 que generaron mas dinero
    top_mas = resumen.sort_values('ingreso_total', ascending=False).head(3)

    print('-- TIENDA- --')
    print('top 3 que generaron mas dinero')
    print(top_mas)
    return top_mas

def top_menos_ingresos(df, tienda):

    # agrupar por producto
    resumen = df.groupby('Producto').agg(
        cantidad_vendida=('Producto', 'count'),
        ingreso_total=('Precio', 'sum')
    )

    # top 3 que generaron men os dinero
    top_menos = resumen.sort_values('ingreso_total', ascending=True).head(3)

    print('\ntop 3 que generaron menos dinero')
    print(top_menos)

top_mas_ingresos(tienda, 'Tienda 1')
top_menos_ingresos(tienda, 'Tienda 1')

-- TIENDA- --
top 3 que generaron mas dinero
               cantidad_vendida  ingreso_total
Producto
TV LED UHD 4K                60    142150200.0
Refrigerador                 54    112143300.0
Iphone 15                    49     97902200.0

top 3 que generaron menos dinero
                    cantidad_vendida  ingreso_total
Producto
Cuerda para saltar                40       652800.0
Dinosaurio Rex                    40       688900.0
Cubo mágico 8x8                   44       696900.0

In [51]:
#TIENDA2
def top_mas_ingresos(df, tienda2):
    # agrupar por producto: cantidad, precio unitario, ingreso total
    resumen = df.groupby('Producto').agg(
        cantidad_vendida=('Producto', 'count'),
        ingreso_total=('Precio', 'sum')
    )

    # top 3 que generaron mas dinero
    top_mas = resumen.sort_values('ingreso_total', ascending=False).head(3)

    print('-- TIENDA 2 --')
    print('top 3 que generaron mas dinero')
    print(top_mas)
    return top_mas

def top_menos_ingresos(df, tienda2):

    # agrupar por producto
    resumen = df.groupby('Producto').agg(
        cantidad_vendida=('Producto', 'count'),
        ingreso_total=('Precio', 'sum')
    )

    # top 3 que generaron men os dinero
    top_menos = resumen.sort_values('ingreso_total', ascending=True).head(3)

    print('\ntop 3 que generaron menos dinero')
    print(top_menos)

top_mas_ingresos(tienda2, 'Tienda 2')
top_menos_ingresos(tienda2, 'Tienda 2')

-- TIENDA 2 --
top 3 que generaron mas dinero
               cantidad_vendida  ingreso_total
Producto
Iphone 15                    55    113225800.0
TV LED UHD 4K                45    103375000.0
Refrigerador                 49     97632500.0

top 3 que generaron menos dinero
                    cantidad_vendida  ingreso_total
Producto
Cubo mágico 8x8                   45       643600.0
Dinosaurio Rex                    42       770300.0
Cuerda para saltar                50       856900.0

In [52]:
#TIENDA3
def top_mas_ingresos(df, tienda3):
    # agrupar por producto: cantidad, precio unitario, ingreso total
    resumen = df.groupby('Producto').agg(
        cantidad_vendida=('Producto', 'count'),
        ingreso_total=('Precio', 'sum')
    )

    # top 3 que generaron mas dinero
    top_mas = resumen.sort_values('ingreso_total', ascending=False).head(3)

    print('-- TIENDA 3 --')
    print('top 3 que generaron mas dinero')
    print(top_mas)
    return top_mas

def top_menos_ingresos(df, tienda3):

    # agrupar por producto
    resumen = df.groupby('Producto').agg(
        cantidad_vendida=('Producto', 'count'),
        ingreso_total=('Precio', 'sum')
    )

    # top 3 que generaron men os dinero
    top_menos = resumen.sort_values('ingreso_total', ascending=True).head(3)

    print('\ntop 3 que generaron menos dinero')
    print(top_menos)

top_mas_ingresos(tienda3, 'Tienda 3')
top_menos_ingresos(tienda3, 'Tienda 3')

-- TIENDA 3 --
top 3 que generaron mas dinero
               cantidad_vendida  ingreso_total
Producto
Refrigerador                 50     99889700.0
TV LED UHD 4K                42     96669100.0
Iphone 15                    46     93225700.0

top 3 que generaron menos dinero
                    cantidad_vendida  ingreso_total
Producto
Cubo mágico 8x8                   44       640400.0
Dinosaurio Rex                    46       795600.0
Cuerda para saltar                53       853800.0

In [53]:
#TIENDA4
def top_mas_ingresos(df, tienda4):
    # agrupar por producto: cantidad, precio unitario, ingreso total
    resumen = df.groupby('Producto').agg(
        cantidad_vendida=('Producto', 'count'),
        ingreso_total=('Precio', 'sum')
    )

    # top 3 que generaron mas dinero
    top_mas = resumen.sort_values('ingreso_total', ascending=False).head(3)

    print('-- TIENDA 4 --')
    print('top 3 que generaron mas dinero')
    print(top_mas)
    return top_mas

def top_menos_ingresos(df, tienda4):

    # agrupar por producto
    resumen = df.groupby('Producto').agg(
        cantidad_vendida=('Producto', 'count'),
        ingreso_total=('Precio', 'sum')
    )

    # top 3 que generaron men os dinero
    top_menos = resumen.sort_values('ingreso_total', ascending=True).head(3)

    print('\ntop 3 que generaron menos dinero')
    print(top_menos)

top_mas_ingresos(tienda4, 'Tienda 4')
top_menos_ingresos(tienda4, 'Tienda 4')

-- TIENDA 4 --
top 3 que generaron mas dinero
               cantidad_vendida  ingreso_total
Producto
Iphone 15                    48     96697500.0
TV LED UHD 4K                40     90295300.0
Smart TV                     54     82790400.0

top 3 que generaron menos dinero
                    cantidad_vendida  ingreso_total
Producto
Cuerda para saltar                43       704800.0
Cubo mágico 8x8                   47       748400.0
Dinosaurio Rex                    47       858100.0

# 5. Envío promedio por tienda
En este paso, debes calcular el costo de envío promedio para cada tienda. El objetivo es comprender cuánto se gasta, en promedio, en el envío de cada tienda.  Sabiendo que el cliente paga el envío.